extends layout

block head
  script(src="/js/jquery-2.1.4.min.js")
  link(rel="stylesheet" href="/css/bootstrap.min.css")
  link(rel="stylesheet" href="/css/style.css")
  script(src="/js/bootstrap.min.js")
  script(src="/bower_components/chart.js/dist/Chart.bundle.min.js")
  script(src="/js/app.js")

block content
  .container
    nav.navbar.navbar-default
      .container-fluid.flexible
        h1 Metrics app
        .button-right
          button.btn.btn-danger(href='/logout' onClick='document.location.href="/logout"') Logout
    .flexible-space-line
      h2 Hello, #{name} !
      button(type="button" class="btn btn-success" id="show-metrics") Bring the metrics
      #metrics
  .container
    .row
      .col-md-4.col-lg-4.col-sm-12
          .panel.panel-default
            .panel-heading Add a metric batch
            .panel-body.panel-body-center
              form#addMetrics(action='/user-metric', method="post")
                .form-group
                  label Your metric batch
                  textarea.form-control(cols='40', rows="5")
                button#metric_submit.btn.btn-success.btn-block(type='submit') Add metrics 




  script
    :coffee-script
      $('#show-metrics').click (e) ->
        e.preventDefault()
        $.getJSON "/user-metric", {}, (data) ->
          content = ""
          for d in data
            content +="timestamp: #{d.timestamp}, value: #{d.value}"
            $('#metrics').append content

