extends layout

block head
  script(src="/js/jquery-2.1.4.min.js")
  link(rel="stylesheet" href="/css/bootstrap.min.css")
  link(rel="stylesheet" href="/css/style.css")
  script(src="/js/bootstrap.min.js")
  script(src="/bower_components/chart.js/dist/Chart.bundle.min.js")
  script(src="/js/app.js")

block content
  .container
    nav.navbar.navbar-default
      .container-fluid.flexible
        h1 Metrics app
        .button-right
          button.btn.btn-danger(href='/logout' onClick='document.location.href="/logout"') Logout
    .flexible-space-line
      h2 Hello, #{name} !
      button(type='button' class='btn-success btn' id="show-metrics") Bring the metrics
  .container
    .row
      .col-md-8.col-lg-8.col-sm-12
        .panel.panel-default
          .panel-heading.flexible-space-line Metrics
            select(name="batch")#select-batch
          .panel-body.panel-body-center
            canvas(width="400", height="400")#metrics
      .col-md-4.col-lg-4.col-sm-12
          .panel.panel-default
            .panel-heading Add a metric batch
            .panel-body.panel-body-center
              form#addMetrics(action='/user-metric', method="post")
                .form-group
                  label Your metric batch
                  textarea.form-control(cols='40', rows="5")
                button#metric_submit.btn.btn-success.btn-block(type='submit') Add metrics 
      .col-md-4.col-lg-4.col-sm-12
          .panel.panel-default
            .panel-heading Remove a metric batch
            .panel-body
              form#delete-form
                select(name="metric")#select-metric
                input(value="Delete").btn.btn-danger#delete-button


