extends layout

block head
	script(type="text/javascript" src="js/jquery-3.1.1.min.js" charset="utf-8")
	script(type="text/javascript" src="js/bootstrap.min.js" charset="utf-8")
	link(rel='stylesheet', href='css/bootstrap.min.css')
	link(rel='stylesheet', href='css/style.css')


block content
	div.container
		div.col-md-6.col-md-offset-3
			p hello world !
			button(type="button" class="btn btn-success" id="show-metrics") Bring the metrics
			#metrics

		div.col-md-6.col-md-offset-3
			input(type="text", placeholder="Enter your name", checked="").field#value
			input(type="submit", value="Redirect!").btn#btn-submit
			button.btn.btn-danger(href='/logout' onClick='document.location.href="/logout"') Logout


	script
		:coffee-script
			$('#show-metrics').click (e) ->
				e.preventDefault()
				$.getJSON "/metrics.json", {}, (data) ->
					content = ""
					for d in data
						content +="timestamp: #{d.timestamp}, value: #{d.value}"
						$('#metrics').append content

			$('#btn-submit').click (e) ->
			  	e.preventDefault()
			  	name = if $('#value').val().length == 0 then "random guy" else $('#value').val()
			  	window.location.replace("http://localhost:1337/hello/" + name);



